<style>
   a { text-decoration: none; color: #ffffff }
   body { padding-top: 100px; }
</style>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">nameCTF</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <%= link_to "New task", new_task_path, :class => "btn btn-outline-light" %>
                </li>
            </ul>
            <form class="d-flex">
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-danger' %>
            </form>
        </div>
    </div>
</nav>

<body>
    <main class="container">
        <div class="col-md-8">
            <% @task.each do |task| %>
                <div class="card mb-4" style="width: 18rem;">
                    <div class="card-body">
                        <h2 class="card-title"><%= task.title %></h2>
                        <p class="card-text"><%= task.body.length <= 64 ? task.body : task.body[0..64] %></p>
                        <%= link_to "Open", task_path(task.id), :class => "btn btn-outline-primary" %>
                    </div>
                </div>
            <% end %>
        </div>
    </main>
</body>
