<style>
    a { text-decoration: none; color: #ffffff } 
    body { padding-top: 100px; }
</style>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
                <%= link_to "Delete", task_path, method: :delete, :class => "btn btn-outline-danger" %>
                <%= link_to "Backup", backup_path(query: 'File.new("out.txt", "w")'),  :class => "btn btn-outline-warning" %>              
            </li>
        </ul>
        <form class="d-flex">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-danger' %>
        </form>
    </div>
</nav>

<body>
    <main class="container">

        <h1> <%= @task.title %></h1>
        <div class="card" style="width: 56rem;">
            <div class="card-body">
                <pre><h5><p class="card-text"><%= @task.body %></h5></pre>
            </div>
        </div>
    </main>
</body>